.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navbarlogo {
    width: 80px;
    
  }

.background {
    background-color: chocolate;
  } 


